*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
   --bg-color: #322f2f;
   --grid-color: #2a2a2a;
   --snake-color: white;
   --food-color: #ff5c5c;
   --text-color: white;
   --box-color: #1f1e1e;
   --padding-xs:0.5rem;
   --padding-xm:1rem;
   --border-color: #d0bdbd;
   --radius: 12px;
   --radius-xs:8px;
}
.game{
    display: flex;
    flex-direction: column;
   height: 100vh;
   position: relative;
   
}
.scorebox{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    padding: var(--padding-xs);
    border-radius: var(--radius-xs);
}
.scoreboard{
    background-color:var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-xs);
    border-color: var(--border-color);
    border-radius: var(--radius-xs);
}
.board{
    display: grid;
     grid-template-columns: repeat(auto-fill,minmax(30px,1fr));
     grid-template-rows: repeat(auto-fill,minmax(30px,1fr));
    flex-grow: 1;
     background-color: var(--box-color);
     border: 1px solid var(--border-color);
    filter: blur(3px);
   
     
}
.cell{
    border:1px solid var(--border-color); 
    
}
.fill{
   background-color: var(--snake-color);
}
.food{
    background-color: var(--food-color);
}
.head{
    
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     gap: var(--padding-xm);
     z-index: 10;
     
}
.heading{
  color: var(--text-color);
}
.btn{
     padding: var(--padding-xm);
     font-size: 14px;
     font-weight: 600;
     background-color: var(--grid-color);
     color: var(--text-color);
     border-radius: var(--radius);
     cursor: pointer;
     transition: all 0.4 ease;
}
button:hover{
    transform: scale(1.1);
}
.resetgamemodel{
   display: none;
    flex-direction: column;
    gap: 10px;
}
.stgamemodel{
    display: flex;
    flex-direction: column;
    gap: 10px;
}