*{
    margin: 0;
    padding: 0;


}
h2 {
    text-transform: uppercase;
    text-align: center;
}
.choice{
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;

}
.imagecon img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    
}
.imagecon img:hover {
    border: 3px solid black;
    transform: scale(1.1);
}
.imgbox{
    height: 100vh;
    width: 100vw; 
   display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
     gap: 20px;
}
.interface{
    display: flex;
     justify-content: center;
      align-items: center;
}
.scoreboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.msgcon{
    font-size: 20px;
    font-weight: 500;
    background-color: black;
    color: rgb(227, 235, 241);
    border-radius: 13px;
    border: none;
    padding: 20px;
}

.score{
    display: flex;
    gap: 60px;
    
}

.scorebox{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    
}
.activechoice{
     border: 3px solid rgb(5, 104, 86);
    transform: scale(1.1);
   
}